*,
*:before,
*:after{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}
body{
    background: black;
    color: rgba(229, 248, 255, 0.9);
}
#photos{
    text-align: center;
    overflow: hidden;
    margin-top: 100px;
    padding-top: 50px;
}
.slider-wrap{
    perspective-origin: 50% 100%;
    perspective: 900px;
    position: relative;
    margin: auto;
    margin-bottom: 20px;
}
.slider{
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    transition: all 0.5s;
}
.slide{
    float: left;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    transform-style: preserve-3d;
    transition: all 0.5s;
    position: absolute;
    border: 1px solid white;
    opacity: 0.8;
    left: 10px;
    top: 10px;
}
.slide.active{
    opacity: 1;
    cursor: pointer;
}
button, .btn{
    padding: 8px;
    margin: 10px;
    cursor: pointer;
}